*{
    margin: 0 ;
    padding: 0 ;
}

body{
    width: 100%;
    font-family: "Archivo", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.logo img{
    width: 150px;
    height: auto;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    font-family: "Archivo", sans-serif;
    font-size: larger;
    font-weight: 700;
}

.navbar-nav a{
    color: black;
    text-decoration: none;
    padding: 10px 25px;
}

.navbar-nav a:hover{
    padding: 10px 25px;
    background-color: #ff944d;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.body-content{
    width: 100% ;
    display: flex;
    flex-direction: column;
}

.body-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video{
    width: 100%;
    height: 900px;
    position: relative;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 0 25px;
}

.text-overlay h1{
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.text-overlay p{
    font-size: 20px;
    font-weight: 600;
}

#About-me{
    width: 85%;
    margin: 50px 0 35px 0;
    padding: 55px 25px;
    text-align: center;
    background-color: #A4DDED;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#About-me h1{
    color: #007BA7;
}

#About-me .p{
    font-size: 28px;
    font-weight: 600;
}

#Skills{
    width: 85%;
    margin-top: 20px;
    padding: 55px 25px;
    text-align: center;
    background-color: #b3ffe6;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

#Skills h2{
    margin: 15px 0;
    font-weight: bold;
    color: #007BA7;
}

.svg-files{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    object-fit: contain;
}


#Contact{
    background-color: #b8f3ff;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    padding-top: 55px;
    width: 85%;
    margin-bottom: 40px;
}

#Contact h1{
    color: #007BA7;
    margin-bottom: 10px;
}

.contact-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    width: 65%;
    background-color: #E0FFFF;
    border: 0 solid;
    border-radius: 10px;
    padding: 50px 0;
    margin-bottom: 15px;
}

.contact-details label{
    font-weight: bold;
}

.footer{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: #303030;
}

.resume{
    width: 85%;
    margin-top: 20px;
    padding: 55px 25px;
    text-align: center;
    background-color: #05445E;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.footer li a{
    text-decoration: none;
}

#mail-decor{
    text-decoration: none;
}

.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .job {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  .job:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .title {
    font-weight: bolder;
    color: #007BFF;
    margin-bottom: 5px;
  }
  .years {
    font-style: italic;
    color: #777;
  }
  .company {
    font-weight: bold;
    color: #333;
  }
  .head{
    font-size: 25px;
    width: 10%;
    background-color: #B9E9FC;
    color: #05445E;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
  }

  .item p{
    font-size: large;
    font-weight: bold;
  }
